<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            {{ message }}
            <button v-on:click="reverseMessage">Reverse Message</button>
            <input v-model="message">
            <br>
            <span v-if="seen">Now you see me</span>
            <button v-on:click="show">Show/Ide Message</button>
            <br>
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>